PORT=8080
FRONTEND_ORIGIN=

# Database
DATABASE_URL=

# Supabase
SUPABASE_JWT_SECRET=

# Discord webhooks
DISCORD_WEBHOOK_EVENTS=
DISCORD_WEBHOOK_ANNOUNCEMENTS=
DISCORD_WEBHOOK_BIBLE_STUDIES=
DISCORD_WEBHOOK_PLAYLISTS=
DISCORD_WEBHOOK_GALLERY=
FRONTEND_ORIGIN=                                                                                         